[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[requires]
python_version = "3.8"

[packages]
netports = "==0.5.*"  # 0.5.2

[dev-packages]
dictdiffer = "==0.9.*"  # 0.9.0
mypy = "==0.*"  # 0.982
pylint = "==2.13.*"  # 2.13.9
pytest = "==7.2.*"  # 7.1.2
restructuredtext-lint = "==1.4.*"  # 1.4.0
twine = "==4.0.*"  # 4.0.1
