[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
dictdiffer = "==0.9.*"
mypy = "==0.*"
pylint = "2.13.*"
twine = "==4.0.*"

[requires]
python_version = "3.8"
